In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv("/content/drive/My Drive/colab/국민청원 데이터 분석/DATA/petition.csv", parse_dates=['start', 'end'])

# 읽어온 데이터의 행과 열

In [0]:
df.shape

(395547, 8)

# 일부 데이터 미리 보기

In [0]:
df.head()
df.tail()

        article_id  ...                                            content
395542      517117  ...  명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...
395543      517119  ...  광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...
395544      517120  ...  명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...
395545      517121  ...  좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하...
395546      517122  ...                              국민들이 원합니다\n폐지 좀 시키세요;

[5 rows x 8 columns]

# 결측치가 있는지 확인

In [0]:
df.isnull().sum()

article_id    0
start         0
end           0
answered      0
votes         0
category      0
title         0
content       1
dtype: int64

# 데이터 요약하기

In [0]:
df.info() # 어떤 컬럼이 있고 어떤 타입인지 알 수 있다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 8 columns):
article_id    395547 non-null int64
start         395547 non-null object
end           395547 non-null object
answered      395547 non-null int64
votes         395547 non-null int64
category      395547 non-null object
title         395547 non-null object
content       395546 non-null object
dtypes: int64(3), object(5)
memory usage: 24.1+ MB

In [0]:
df.dtypes # 데이터 타입만 따로 확인 가능
df.columns # 컬럼명만 따로 확인 가능
df.describe() # 수치형 데이터에 대한 요약을 봅니다.

article_id     int64
start         object
end           object
answered       int64
votes          int64
category      object
title         object
content       object
dtype: object

In [0]:
df.describe(include=np.object) # 카테고리(object) 형태의 데이터에 대한 요약을 봅니다.

             start         end category     title   content
count       395547      395547   395547    395547    395546
unique         535         558       17    346524    375224
top     2017-11-11  2017-12-11     정치개혁  이명박 출국금지  이명박 출국금지
freq          9623        9701    62750      3018       597

# 답변 대상 청원 보기
### 20만건 이상 투표를 받으면 답변 대상 청원이 됩니다.
### 20만건 이상 투표를 받은 청원의 갯수를 확인

In [0]:
df_20 = df.loc[df['votes'] > 200000]
df_20.shape

(80, 8)

In [0]:
df.loc[df['votes'] > 1000].count()

article_id    3472
start         3472
end           3472
answered      3472
votes         3472
category      3472
title         3472
content       3472
dtype: int64

In [0]:
df_20.category.value_counts()

인권/성평등         24
안전/환경          10
기타              8
정치개혁            8
문화/예술/체육/언론     7
외교/통일/국방        4
반려동물            4
교통/건축/국토        3
육아/교육           3
보건복지            3
성장동력            2
경제민주화           2
행정              1
미래              1
Name: category, dtype: int64

In [0]:
df_20[['title', 'content']].head(3)

                                                   title                                            content
1752   청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...  안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
10894                                           조두순 출소반대                      제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
18111            낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.  안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...

#### 컬럼을 하나 만들어주는데 20만건 이상 투표된 청원은 True 아니라면 False가 된다.

In [0]:
df['answer'] = (df['votes'] > 200000) == 1

In [0]:
df.dtypes # 새로 생성 해준 answer의 타입은 boolean 타입이다. 이것을 int로 변경 해보자

df['answer'] = df['answer'].astype('int')

In [0]:
df[df['answer'] == 1]

        article_id  ... answer
1752          1785  ...      1
10894        10949  ...      1
18111        18278  ...      1
25032        26024  ...      1
43992        45581  ...      1
...            ...  ...    ...
363005      472309  ...      1
375654      489302  ...      1
390787      510422  ...      1
391208      511075  ...      1
391984      512112  ...      1

[80 rows x 9 columns]

In [0]:
# df['answer_diff'] = df['answer'] - df['answered']
df['answer_diff'].sum() # 20만건 이상인데 아직 청원 답변이 안달린것.

51

In [0]:
category = pd.DataFrame(df['category'].value_counts()).reset_index()
category.columns = ['category', 'counts'] # 컬럼명 바꾸기

In [0]:
start_df = pd.DataFrame(df['start'].value_counts()).reset_index() # 청원이 가장많이 들어온날순으로 정렬
start_df.columns = ['start', 'counts']

In [0]:
start_df = start_df.sort_values('counts', ascending=False)

In [0]:
print('청원 집계: {}일'.format(start_df.shape[0]))

청원 집계: 535일

In [0]:
start_df.head()

        start  counts
0  2017-11-11    9623
1  2017-09-05    5952
2  2018-01-11    3368
3  2018-02-06    2631
4  2017-11-09    2487

# 피봇 테이블로 투표를 가장 많이 받은 분야를 찾아보세요.

In [0]:
petitions_unique = pd.pivot_table(df, index=['category'], aggfunc=np.sum)
petitions_best = petitions_unique.sort_values(by='votes',
                                              ascending=False).reset_index() # 투표를 가장 많이 받은 분야

# 투표를 가장 많이 받은 날은 언제일까요?

In [0]:
petitions_start = pd.pivot_table(df, index=['start'], aggfunc=np.sum)

In [0]:
votes_df = petitions_start.sort_values(by='votes', ascending=False)

In [0]:
votes_df.loc[petitions_start['votes'] > 350000]

            answer  answer_diff  answered  article_id    votes
start
2018-10-17       1            1         0   378900198  1300523
2018-10-31       2            2         0   430964099   827096
2018-06-13       1            1         0   146187973   786157
2018-10-18       2            2         0   423557789   721524
2018-02-19       1            0         1    99332898   701520
2018-11-09       2            2         0   349439392   672819
2018-07-22       1            1         0   282639463   672491
2017-09-06       1            0         1    22268570   648209
2018-06-24       2            2         0   359345089   628925
2018-10-04       2            1         1   290746555   626761
2018-02-23       2            0         2   168561151   608530
2018-05-18       1            1         0   190599564   574483
2018-05-11       1            0         1   119082098   556549
2019-01-29       2            2         0   409753872   550474
2018-05-25       2            2         0   217699031   514253
2018-11-14       1            1         0   341163199   469027
2018-06-17       2            2         0   158887091   468341
2018-07-03       1            1         0   247788786   467132
2018-04-17       1            0         1   232499699   446950
2018-05-02       1            1         0   204023320   445493
2018-10-02       1            0         1   326518258   437841
2017-09-03       1            0         1      404415   433356
2018-06-14       1            0         1   204240095   403351
2018-01-20       1            0         1    99071361   399683
2017-11-17       1            0         1    23752225   393348
2017-11-24       1            0         1    80814983   392782
2018-12-07       1            1         0   394821243   387305
2018-03-24       1            1         0    96422371   385480
2018-09-06       1            1         0   381171515   383145
2018-03-03       1            0         1    94454042   380016
2018-01-15       1            0         1   106053634   376187
2018-04-16       1            1         0   168625159   369318
2018-01-25       1            0         1   129153668   364926
2019-01-07       1            1         0   312286224   352139

# 청원을 많이 받은 날 vs 투표를 많이 받은 날에 대해 각각 상위 5개 목록을 추출해 봅니다.

In [0]:
votes_df = votes_df.reset_index()

In [0]:
hottest_day_df = start_df.merge(votes_df, on='start', how='left')

In [0]:
hottest_day_df.sort_values('counts', ascending=False)[:5]

        start  counts  answer  answer_diff  answered  article_id  votes
0  2017-11-11    9623       0            0         0   348559310  85074
1  2017-09-05    5952       0            0         0    38414241  48808
2  2018-01-11    3368       0            0         0   291069195  44570
3  2018-02-06    2631       0            0         0   342371897  83038
4  2017-11-09    2487       0            0         0    73459579  34774

# 시계열 데이터 보기
+ 월별 청원수를 집계 해보자

In [0]:
import datetime
dt = datetime.datetime.now()

In [0]:
df['start_month'] = df['start'].dt.month
df['start_day'] = df['start'].dt.day
df['start_hour'] = df['start'].dt.hour
df['start_dow'] = df['start'].dt.dayofweek # 요일을 숫자로 반환해준다

In [0]:
# df['start_dow'].head()
df['start_hour']

0         0
1         0
2         0
3         0
4         0
         ..
395542    0
395543    0
395544    0
395545    0
395546    0
Name: start_hour, Length: 395547, dtype: int64

In [0]:
df['start_month'].value_counts() # 청원이 가장 많이 들어온 달을 알 수 있음.

1     52941
11    52847
9     40888
12    38498
10    31687
8     28851
2     28117
7     25714
5     25499
6     25483
4     23227
3     21795
Name: start_month, dtype: int64

# 특정 단어 들어가는 청원을 찾아보세요.

In [0]:
crypto = df[(df.title.str.find('가상화폐') != -1) | (df.content.str.find('가상화폐') != -1)]

In [0]:
crypto.shape

(7921, 12)

In [0]:
crypto['category'].value_counts()

경제민주화          1970
미래             1900
성장동력           1409
기타             1024
정치개혁            882
행정              350
일자리             113
인권/성평등           65
안전/환경            56
외교/통일/국방         44
교통/건축/국토         40
문화/예술/체육/언론      29
보건복지             16
저출산/고령화대책         8
육아/교육             8
반려동물              5
농산어촌              2
Name: category, dtype: int64

In [0]:
import re

In [0]:
p = r'.*(돌봄|아이|초등|보육).*'

In [0]:
# MUMULTILINE 각라인의 첫번째를 인식시킨다.(출처 : https://wikidocs.net/4308#multiline-m)
# 정규표현식 ^ 에 대한 개념을 익히자.
care = df[df['title'].str.match(p) | df['content'].str.match(p, flags=re.MULTILINE)]